body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1d1e2c;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* Header */

header {
    width: 100%;
    display: contents;
    position: fixed;
}

.innerContainer {
    margin: 2rem;
    display: inline-block;
    position: fixed;
    width: 100%;
}

nav {
    position: fixed;
    display: inline-block;
    margin-right: auto;
}

.epicLogo {
    width: 6rem;
    margin-right: 4vw;
}

.navlinknav {
    padding: .5rem;
    margin-right: 1rem;
}

.navlinks {
    margin-left: 2vw;
    margin-right: 2vw;
}

.navspan {
    color: #111;
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: 'Raleway';
    font-weight: 300;
}


/* About me  */

.aboutMe {
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    display: inline-block;
}

.aboutMeTitle {
    font-size: 7rem;
    font-family: 'Sansito Swashed', ;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: .15rem .5rem 0 rgba(255, 255, 255, 0.5);
    width: fit-content;
    margin-bottom: 1vh;
}

.aboutMeTitle:hover {
    transition-duration: 0.3s;
    text-shadow: .5rem 1rem rgba(255, 255, 255, 0.5);
}

.aboutMeDescTitle {
    margin-top: 1vh;
    font-family: 'Raleway Dots', 'cursive';
    font-size: 3rem;
}

.aboutMeDesc {
    font-size: 1.5rem;
    font-family: 'Kenia', '';
    font-weight: 200;
}


/*


.aboutMeBoxh3 {
    display: inline-block;
    position: relative;
}
*/


/* Projects */

#Projects {
    height: 100vh;
}

.projectsTitle,
.projectsTitle::before {
    margin-top: 15vh;
    width: fit-content;
    display: inline-block;
    transform: rotate(-35deg);
    text-shadow: .15rem .5rem 0 rgba(255, 255, 255, 0.5);
    font-size: 4rem;
    color: #111;
}

.projectsTitle:hover {
    transition-duration: 0.3s;
    text-shadow: 1rem 2rem rgba(255, 255, 255, 0.5);
}

.projectHolder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
}


/* Project */

.projectBox {
    margin: 2rem;
    width: 25vw;
    height: auto;
    display: grid;
    border: solid;
    border-radius: 1.5rem;
    border-color: #111;
    border-width: .25rem;
}

.projectTitle {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    font-family: 'YellowTail', 'cursive';
    font-weight: 200;
    font-size: 2.5rem;
    word-break: break-all;
    margin-bottom: .5vh;
    margin-top: .5vh;
}

.projectImageA {
    display: flex;
    justify-content: center;
}

.projectImage {
    width: 100%;
    width: 8vw;
    height: 8vw;
    margin: auto;
}

.projectAuthor {
    width: 100%;
    font-size: 1.25rem;
    margin: .25rem;
    text-align: center;
    word-break: break-all;
}

.projectLanguageDiv {
    margin: auto;
    /* don't work */
}

.projectLanguageA {
    color: black;
    display: inline-block;
    margin-right: 1vw;
}

.projectLanguageA:visited {
    color: #070807;
}

.projectGithub {
    color: black;
    margin: auto;
}